<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="ModDLL" value="Daybreak.Server.dll" />
    <add key="AssetPath" value="" />
    <add key="LogDir" value="Daybreak" />
    <add key="Net.Port" value="9103" />
    <add key="Net.ConnectTimeout" value="5000" />
    <add key="Net.MaxConnections" value="8" />
    <add key="Net.AppIdent" value="Daybreak" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>